In [3]:
from functools import partial
def power(a, b):
	return a**b
pow2 = partial(power, b=2)
pow4 = partial(power, b=4)
power_of_5 = partial(power, 5)
print(power(2, 3))
print(pow2(4))
print(pow4(3))
print(power_of_5(2))
print('Function used in partial function pow2 :', pow2.func)
print('Default keywords for pow2 :', pow2.keywords)
print('Default arguments for power_of_5 :', power_of_5.args)

8
16
81
25
Function used in partial function pow2 : <function power at 0x7bb2ba156170>
Default keywords for pow2 : {'b': 2}
Default arguments for power_of_5 : (5,)

In [4]:
from functools import partialmethod
class Demo:
	def __init__(self):
		self.color = 'black'
	def _color(self, type):
		self.color = type
	set_red = partialmethod(_color, type='red')
	set_blue = partialmethod(_color, type='blue')
	set_green = partialmethod(_color, type='green')
obj = Demo()
print(obj.color)
obj.set_blue()
print(obj.color)
obj.set_red()
print(obj.color)
obj.set_green()
print(obj.color)

black
blue
red
green

In [5]:
from functools import cmp_to_key
def cmp_fun(a, b):
	if a[-1] > b[-1]:
		return 1
	elif a[-1] < b[-1]:
		return -1
	else:
		return 0
list1 = ['A', 'M', 'Z']
l = sorted(list1, key = cmp_to_key(cmp_fun))
print('sorted list :', l)

sorted list : ['A', 'M', 'Z']

In [6]:
from functools import reduce
list1 = [2, 4, 7, 9, 1, 3]
sum_of_list1 = reduce(lambda a, b:a + b, list1)
list2 = ["abc", "xyz", "def"]
max_of_list2 = reduce(lambda a, b:a if a>b else b, list2)
print('Sum of list1 :', sum_of_list1)
print('Maximum of list2 :', max_of_list2)

Sum of list1 : 26
Maximum of list2 : xyz

In [8]:
from functools import total_ordering
@total_ordering
class N:
	def __init__(self, value):
		self.value = value
	def __eq__(self, other):
		return self.value == other.value
	def __lt__(self, other):
		return self.value > other.value
print('6 > 2 :', N(6)>N(2))
print('3 < 1 :', N(3)<N(1))
print('2 <= 7 :', N(2)<= N(7))
print('9 >= 10 :', N(9)>= N(10))
print('5 == 5 :', N(5)== N(5))

6 > 2 : False
3 < 1 : True
2 <= 7 : False
9 >= 10 : True
5 == 5 : True

In [9]:
from itertools import count
for number in count(start=1, step=2):
	if number > 10:
		break
	print(number) # print statement

1
3
5
7
9

In [10]:
import itertools
for i in itertools.count(5, 5):
	if i == 35:
		break
	else:
		print(i, end=" ")

5 10 15 20 25 30

In [11]:
import itertools
count = 0
for i in itertools.cycle('AB'):
	if count > 7:
		break
	else:
		print(i, end=" ")
		count += 1

A B A B A B A B

In [12]:
import itertools
l = ['CSE', 'COM', 'ECM']
iterators = itertools.cycle(l)
for i in range(6):
	print(next(iterators), end=" ")

CSE COM ECM CSE COM ECM

In [13]:
import itertools
print("Printing the numbers repeatedly : ")
print(list(itertools.repeat(25, 4)))

Printing the numbers repeatedly :
[25, 25, 25, 25]

In [14]:
from itertools import product
print("The cartesian product using repeat:")
print(list(product([1, 2], repeat=2)))
print()
print("The cartesian product of the containers:")
print(list(product(['COM', 'CSE', 'ECM'], '2')))
print()
print("The cartesian product of the containers:")
print(list(product('AB', [3, 4])))

The cartesian product using repeat:
[(1, 1), (1, 2), (2, 1), (2, 2)]

The cartesian product of the containers:
[('COM', '2'), ('CSE', '2'), ('ECM', '2')]

The cartesian product of the containers:
[('A', 3), ('A', 4), ('B', 3), ('B', 4)]

In [15]:
from itertools import permutations
print("All the permutations of the given list is:")
print(list(permutations([1, 'Computer'], 2)))
print()
print("All the permutations of the given string is:")
print(list(permutations('AB')))
print()
print("All the permutations of the given container is:")
print(list(permutations(range(3), 2)))

All the permutations of the given list is:
[(1, 'Computer'), ('Computer', 1)]

All the permutations of the given string is:
[('A', 'B'), ('B', 'A')]

All the permutations of the given container is:
[(0, 1), (0, 2), (1, 0), (1, 2), (2, 0), (2, 1)]

In [16]:
from itertools import combinations_with_replacement
print("All the combination of string in sorted order(with replacement) is:")
print(list(combinations_with_replacement("AB", 2)))
print()
print("All the combination of list in sorted order(with replacement) is:")
print(list(combinations_with_replacement([1, 2], 2)))
print()
print("All the combination of container in sorted order(with replacement) is:")
print(list(combinations_with_replacement(range(2), 1)))

All the combination of string in sorted order(with replacement) is:
[('A', 'A'), ('A', 'B'), ('B', 'B')]

All the combination of list in sorted order(with replacement) is:
[(1, 1), (1, 2), (2, 2)]

All the combination of container in sorted order(with replacement) is:
[(0,), (1,)]

In [17]:
import itertools
import operator
li1 = [1, 4, 5, 7]
print("The sum after each iteration is : ", end="")
print(list(itertools.accumulate(li1)))
print("The product after each iteration is : ", end="")
print(list(itertools.accumulate(li1, operator.mul)))
print("The sum after each iteration is : ", end="")
print(list(itertools.accumulate(li1)))
print("The product after each iteration is : ", end="")
print(list(itertools.accumulate(li1, operator.mul)))

The sum after each iteration is : [1, 5, 10, 17]
The product after each iteration is : [1, 4, 20, 140]
The sum after each iteration is : [1, 5, 10, 17]
The product after each iteration is : [1, 4, 20, 140]

In [18]:
import itertools
li1 = [1, 4, 5, 7]
li2 = [1, 6, 5, 9]
li3 = [8, 10, 5, 4]
print("All values in mentioned chain are : ", end="")
print(list(itertools.chain(li1, li2, li3)))

All values in mentioned chain are : [1, 4, 5, 7, 1, 6, 5, 9, 8, 10, 5, 4]

In [19]:
import itertools
li1 = [1, 4, 5, 7]
li2 = [1, 6, 5, 9]
li3 = [8, 10, 5, 4]
li4 = [li1, li2, li3]
print ("All values in mentioned chain are : ", end ="")
print (list(itertools.chain.from_iterable(li4)))

All values in mentioned chain are : [1, 4, 5, 7, 1, 6, 5, 9, 8, 10, 5, 4]

In [20]:
import itertools
print("The compressed values in string are : ", end="")
print(list(itertools.compress('GEEKSFORGEEKS', [
	1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0])))

The compressed values in string are : ['G', 'F', 'G']

In [21]:
import itertools
li = [2, 4, 5, 7, 8]
print ("The values after condition returns false : ", end ="")
print (list(itertools.dropwhile(lambda x : x % 2 == 0, li)))

The values after condition returns false : [5, 7, 8]

In [22]:
import itertools
li = [2, 4, 5, 7, 8]
print ("The values that return false to function are : ", end ="")
print (list(itertools.filterfalse(lambda x : x % 2 == 0, li)))

The values that return false to function are : [5, 7]

In [23]:
import itertools
li = [2, 4, 5, 7, 8, 10, 20]
print ("The sliced list values are : ", end ="")
print (list(itertools.islice(li, 1, 6, 2)))

The sliced list values are : [4, 7, 10]

In [24]:
import itertools
li = [ (1, 10, 5), (8, 4, 1), (5, 4, 9), (11, 10, 1) ]
print ("The values acc. to function are : ", end ="")
print (list(itertools.starmap(min, li)))

The values acc. to function are : [1, 1, 4, 1]

In [25]:
import itertools
li = [2, 4, 6, 7, 8, 10, 20]
print ("The list values till 1st false value are : ", end ="")
print (list(itertools.takewhile(lambda x : x % 2 == 0, li )))

The list values till 1st false value are : [2, 4, 6]